* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* headings and logo */

header {
    background-color: rgb(168, 9, 37);
    border-radius: 6px;
    margin: 4px;
}

header h1 {color: aliceblue;}


h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {color: aliceblue;
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid aliceblue;
}

.active {
    border-bottom: 1px solid aliceblue;
}




/* hero images*/

#other-pages {
    height: auto;
    clear: both;
    margin: 8px;
    margin-bottom: 50px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
    background-image: url("../images/politcal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: auto;
    min-height: 400px
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-image: url("../images/legendary\ battles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: auto;
    min-height: 400px
}

.left-about-heading h2 {
    color: aliceblue;
    text-align: center;
    line-height: 30px;
}

.left-about-heading  span {background-color: rgb(0, 0, 0,0.6); border-radius: 20%;}

.right-about-heading h2 {
    color: aliceblue;
    text-align: center;
    line-height: 30px;
}

.right-about-heading  span {background-color: rgb(0, 0, 0,0.6); border-radius: 20%;}



/* Footer */
footer {
    background-color: rgb(168, 9, 37);
    border-radius: 6px;
    margin-top: 50px;
    width: 100%;
}

footer li{color: aliceblue;
   
}


.sources {
    text-align: center;
    font-size: small;
    margin-top: 50px;
}

.sources h2 {
    margin-bottom: 30px;
    color: aliceblue;
}

.social-networks {
    text-align: center;


}

.social-networks li {
    display: inline;
    position: relative;
}

.social-networks i {
    font-size: 160%;

    padding: 5%;
    padding-top: 2.5%;
    color: aliceblue;
}

/* section about - ceasar */

#about-ceasar p {

    margin: 8px;
}

#about-ceasar h2 {
    margin-top: auto;
    margin-bottom: 16px;
}

#about-ceasar {
    text-align: center;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: auto;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color:rgb(168, 9, 37);
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/Julius\ cesar.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
 
}

/* 404ERROR */
.errorPage {
    background: url(../images/404error.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}


.errorPage__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.errorPage__button {
    display: block;
    cursor: pointer;
    border: 1px solid rgb(168, 9, 37);
    color: rgb(168, 9, 37);
    padding: 10px 30px;
    letter-spacing: 0.2em;
    box-shadow: 7px 7px 20px #00000026;
    background: white;
    transition: transform 300ms ease;
}

.errorPage__button:active {
    transform: translateY(2px);
    box-shadow: 3px 3px 20px #00000026;
}

.errorPage__text h3 {
    font-size: 10vw;
    line-height: 1;
    margin: 0;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    color: aliceblue;
}
/* responsiveness*/
@media screen and (max-width: 1050px){

    #menu{
        clear: left;
        float: left;
        margin-left: 20px; 
        margin-bottom: 20px;
        line-height: 25px;
    }
}
    @media screen and (max-width: 800px){

    #right-about, #left-about{
        clear: both;
        width: 100%;
        height: auto;
        
        
    }
}

@media screen and (max-width: 700px){
    #about-ceasar {
    width: 80%;
    left: 10%;
   }     }
@media screen and (max-width: 650px){

    #menu{
        display: flex;
        flex-direction: column-reverse;
    }
   
        
    }

