    #hero-outer{
        height:auto;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    #hero-image{
    height: 400px;
    width: 100%;
    background-image: url("/assets/images/legendary\ battles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;}



    #contentwrapper {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        
        }
        #content {
        padding-left: 260px;
        }
        #right {
        float: right;
        width: 50%;
        }
        #rightImgdiv {
        width: 100%;
        }


        #cover-text, #cover-text h2 {
            color: white;
        }
        
        #cover-text {
            font-size: 300%;
            font-family: Oswald;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-align: center;

            bottom: 200px;
            
            position: relative;
        
        }
        
        #battle-section {

            clear: both;
        }

        #battle-summary {text-align: center;
         width: 50%;
        position: relative;
        left: 25%;}
        
        #battle-summary p {
        margin: 8px;}

        #battle-summary h2 {
            margin-bottom: 16px;
            margin-top: 0;
        }

        #battle-section h2 {text-align: center;}

        details {background-color:red;}