*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato, sans-serif;
    color: #3a3a3a;
    background-color: white;
}

/* headings and logo */

header {background-color: red;
border-radius: 6px;
margin: 4px;}

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}
header { padding-bottom: 70px;}


/* navigation links images*/

#other-pages {height: 600px;
  clear: both;
  margin: 8px;
}

#left-about{
    padding-top: 30px;
    width: 50%;
    float: left;
    background-image: url("/assets/images/politcal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 600px;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-image: url("/assets/images/legendary\ battles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 600px;
}

.left-about-heading  h2{color:white
; text-align: center; line-height: 30px;}
.right-about-heading h2{color:white
    ; text-align: center; line-height: 30px;}


    
      


      /* footer */
      footer {background-color: red;
        border-radius: 6px;
        margin: 4px;
        height: 150px;}

        /* Footer */

      .social-networks{
       text-align: center;
       

        }

      .social-networks li{
        display: inline;
        position: relative;
        bottom: 75px;}   

      .social-networks i{
        font-size: 160%;
        
        padding: 5%;
        color: #3a3a3a;
        }     
      
      /* section about */
      
      #about-Ceasar p{
      text-align: center;
      margin: 8px;
      }

      #about-Ceasar h3 { text-align: center;
        margin: 8px;}

 