    #hero-outer{
        height:auto;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    #hero-image{
    height: 400px;
    width: 100%;
    background-image: url("/assets/images/legendary\ battles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;}

#cover-text, #cover-text h2 {
            color: white;
        }
        
        #cover-text {
            font-size: 300%;
            font-family: Oswald;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-align: center;

            bottom: 200px;
            
            position: relative;
        
        }

   


        
        
        #battle-section {
            margin-top: 30px;
            clear: both;
        }

        #battle-summary {text-align: center;
         width: 50%;
        position: relative;
        left: 25%;}
        
        #battle-summary p {
        margin: 8px;}

        #battle-summary h2 {
            margin-bottom: 16px;
            margin-top: 0;
        }

        #battle-section h2 {text-align: center;}


        details {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: .5em .5em 0;
            
        }
        
        summary {
            font-weight: bold;
           
            padding: .5em;
        }
        
        details[open] {
            padding: .5em;
           
        }
        
        details[open] summary {
            border-bottom: 1px solid #aaa;
            margin-bottom: .5em;
        }
        
        .container {
            
            display: flex;
            align-items: center;
            justify-content: center
            
          }
          
          img {
            max-width: 100%
          }
          
          .image {
            flex-basis: 75%
          }
          
          .battle-about {
            
            padding-left: 20px ;
          }
       
          .battle-about p {padding: 8px;}
